[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"aiohttp-jinja2" = "*"
cryptography = "*"
aiohttp-session = {version = "*", extras = ["secure"]}
twilio = "*"
python-dotenv = "*"
google-cloud-firestore = "*"
marshmallow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
