[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
aiohttp = "*"
"aiohttp-jinja2" = "*"
requests = "*"
cryptography = "*"
aiohttp-session = {version = "*", extras = ["secure"]}
twilio = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
